{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h2>Log In</h2>
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Log In</button>
    </form>
    <a href="/signup">Don't have an account?</a>
    <br>
    <a href="/forget_pwd">Forget Password</a>
{% endblock %}