{% extends 'base.html' %}

{% block title %}Update Password - AstroReminder{% endblock %}

{% block content %}
    <header>
        <h1>Update Your Password</h1>
        <nav>
            <ul>
                <li><a href="{{url_for('home', id=id)}}">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <section class="update-form">
        <h2>Update Your Password</h2>
        <form action="{{url_for('update_password', id=id)}}" method="POST">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" required>
            
            <button type="submit">Save</button>
        </form>
    </section>
{% endblock %}